@media screen and (max-width: 767px){
    body{
        width: 700px;
    }

    .container{
        width: 700px;
    }

    .nav{
        width: 600px;
        margin-right: 0px;
        font-size: 14px;
    }

    .hr-line{
        width: 698px;
    }

    .first-section{
        width: 700px;
        height: 600px;
    }

    .title{
        margin-left: 40px;
    }

    .home-description{
        width: 700px;
    }

    .img{
        width: 700px;
    }

    .second-section{
        width: 700px;
    }

    
    .third-section{
        height: 400px;
        width: 700px;
    }

    .stacks-container{
        /* width: 700px;
        justify-content: space-evenly;
        margin-right: 50px; */
        width: 600px;
        justify-content: space-evenly;
        /* margin-right: 75px; */
    }

    .stack-icon{
        width: 50px;
    }

    .projects-cart{
        width: 650px;
        
      }

    .footer-links{
        width: 700px;
        justify-content: space-evenly;
        margin-right: 60px;
    }

    
}







